apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "app.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "app.serviceAccountName" . }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with .Values.runtimeClassName }}
      runtimeClassName: {{ . }}
      {{- end }}
      {{- with .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ . }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "{{ .Release.Name }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.commands }}
          command:
          {{- range $command := .Values.commands }}
            - "{{ $command }}"
          {{- end }}
          {{- end }}
          {{- if .Values.args }}
          args:
          {{- range $arg := .Values.args }}
            - "{{ $arg }}"
          {{- end }}
          {{- end }}
          ports:
            - name: {{ .Values.containerPort.name | default .Values.port.name | default .Values.service.portName | default "http" }}
              containerPort: {{ .Values.containerPort.port | default .Values.port.port | default .Values.service.port | default 8080 }}
              protocol: {{ .Values.containerPort.protocol | default .Values.port.protocol | default .Values.service.protocol | default "TCP" }}
            {{- range .Values.extraPorts }}
            - name: {{ .name | default "extra" }}
              containerPort: {{ .port }}
              protocol: {{ .protocol | default "TCP" }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- if .httpGet }}
            httpGet:
              {{- toYaml .httpGet | nindent 14 }}
            {{- else if .tcpSocket }}
            tcpSocket:
              {{- toYaml .tcpSocket | nindent 14 }}
            {{- else if .exec }}
            exec:
              {{- toYaml .exec | nindent 14 }}
            {{- else if .grpc }}
            grpc:
              {{- toYaml .grpc | nindent 14 }}
            {{- end }}
            {{- if .initialDelaySeconds }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            {{- end }}
            {{- if .periodSeconds }}
            periodSeconds: {{ .periodSeconds }}
            {{- end }}
            {{- if .timeoutSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            {{- end }}
            {{- if .successThreshold }}
            successThreshold: {{ .successThreshold }}
            {{- end }}
            {{- if .failureThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- if .httpGet }}
            httpGet:
              {{- toYaml .httpGet | nindent 14 }}
            {{- else if .tcpSocket }}
            tcpSocket:
              {{- toYaml .tcpSocket | nindent 14 }}
            {{- else if .exec }}
            exec:
              {{- toYaml .exec | nindent 14 }}
            {{- else if .grpc }}
            grpc:
              {{- toYaml .grpc | nindent 14 }}
            {{- end }}
            {{- if .initialDelaySeconds }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            {{- end }}
            {{- if .periodSeconds }}
            periodSeconds: {{ .periodSeconds }}
            {{- end }}
            {{- if .timeoutSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            {{- end }}
            {{- if .successThreshold }}
            successThreshold: {{ .successThreshold }}
            {{- end }}
            {{- if .failureThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- end }}
          {{- with .Values.startupProbe }}
          startupProbe:
            {{- if .httpGet }}
            httpGet:
              {{- toYaml .httpGet | nindent 14 }}
            {{- else if .tcpSocket }}
            tcpSocket:
              {{- toYaml .tcpSocket | nindent 14 }}
            {{- else if .exec }}
            exec:
              {{- toYaml .exec | nindent 14 }}
            {{- else if .grpc }}
            grpc:
              {{- toYaml .grpc | nindent 14 }}
            {{- end }}
            {{- if .initialDelaySeconds }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            {{- end }}
            {{- if .periodSeconds }}
            periodSeconds: {{ .periodSeconds }}
            {{- end }}
            {{- if .timeoutSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            {{- end }}
            {{- if .successThreshold }}
            successThreshold: {{ .successThreshold }}
            {{- end }}
            {{- if .failureThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.lifecycle }}
          lifecycle:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.env .Values.secretEnv .Values.envFrom }}
          env:
          {{- range $key, $value := .Values.env }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
          {{- end }}
          {{- range $key, $value := .Values.secretEnv }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                {{- range $k, $v := $value }}
                  {{ $k }}: {{ $v }}
                {{- end}}
          {{- end }}
          {{- end }}
          {{- with .Values.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- range .Values.sidecars }}
        - name: {{ .name }}
          {{- if .securityContext }}
          securityContext:
            {{- toYaml .securityContext | nindent 12 }}
          {{- end }}
          image: "{{ .image.repository }}:{{ .image.tag }}"
          imagePullPolicy: {{ .image.pullPolicy | default "IfNotPresent" }}
          {{- if .command }}
          command:
          {{- range $command := .command }}
            - "{{ $command }}"
          {{- end }}
          {{- end }}
          {{- if .args }}
          args:
          {{- range $arg := .args }}
            - "{{ $arg }}"
          {{- end }}
          {{- end }}
          {{- if .ports }}
          ports:
            {{- toYaml .ports | nindent 12 }}
          {{- end }}
          {{- if .livenessProbe }}
          livenessProbe:
            {{- if .livenessProbe.httpGet }}
            httpGet:
              {{- toYaml .livenessProbe.httpGet | nindent 14 }}
            {{- end }}
            {{- if .livenessProbe.tcpSocket }}
            tcpSocket:
              {{- toYaml .livenessProbe.tcpSocket | nindent 14 }}
            {{- end }}
            {{- if .livenessProbe.exec }}
            exec:
              {{- toYaml .livenessProbe.exec | nindent 14 }}
            {{- end }}
            {{- if .livenessProbe.grpc }}
            grpc:
              {{- toYaml .livenessProbe.grpc | nindent 14 }}
            {{- end }}
            {{- if .livenessProbe.initialDelaySeconds }}
            initialDelaySeconds: {{ .livenessProbe.initialDelaySeconds }}
            {{- end }}
            {{- if .livenessProbe.periodSeconds }}
            periodSeconds: {{ .livenessProbe.periodSeconds }}
            {{- end }}
            {{- if .livenessProbe.timeoutSeconds }}
            timeoutSeconds: {{ .livenessProbe.timeoutSeconds }}
            {{- end }}
            {{- if .livenessProbe.successThreshold }}
            successThreshold: {{ .livenessProbe.successThreshold }}
            {{- end }}
            {{- if .livenessProbe.failureThreshold }}
            failureThreshold: {{ .livenessProbe.failureThreshold }}
            {{- end }}
          {{- end }}
          {{- if .readinessProbe }}
          readinessProbe:
            {{- if .readinessProbe.httpGet }}
            httpGet:
              {{- toYaml .readinessProbe.httpGet | nindent 14 }}
            {{- end }}
            {{- if .readinessProbe.tcpSocket }}
            tcpSocket:
              {{- toYaml .readinessProbe.tcpSocket | nindent 14 }}
            {{- end }}
            {{- if .readinessProbe.exec }}
            exec:
              {{- toYaml .readinessProbe.exec | nindent 14 }}
            {{- end }}
            {{- if .readinessProbe.grpc }}
            grpc:
              {{- toYaml .readinessProbe.grpc | nindent 14 }}
            {{- end }}
            {{- if .readinessProbe.initialDelaySeconds }}
            initialDelaySeconds: {{ .readinessProbe.initialDelaySeconds }}
            {{- end }}
            {{- if .readinessProbe.periodSeconds }}
            periodSeconds: {{ .readinessProbe.periodSeconds }}
            {{- end }}
            {{- if .readinessProbe.timeoutSeconds }}
            timeoutSeconds: {{ .readinessProbe.timeoutSeconds }}
            {{- end }}
            {{- if .readinessProbe.successThreshold }}
            successThreshold: {{ .readinessProbe.successThreshold }}
            {{- end }}
            {{- if .readinessProbe.failureThreshold }}
            failureThreshold: {{ .readinessProbe.failureThreshold }}
            {{- end }}
          {{- end }}
          {{- if .resources }}
          resources:
            {{- toYaml .resources | nindent 12 }}
          {{- end }}
          {{- if .volumeMounts }}
          volumeMounts:
            {{- toYaml .volumeMounts | nindent 12 }}
          {{- end }}
          {{- if or .env .secretEnv }}
          env:
          {{- range .env }}
            - name: {{ .name }}
              {{- if .value }}
              value: "{{ .value }}"
              {{- else if .valueFrom }}
              valueFrom:
                {{- toYaml .valueFrom | nindent 16 }}
              {{- end }}
          {{- end }}
          {{- range .secretEnv }}
            - name: {{ .name }}
              valueFrom:
                {{- toYaml .valueFrom | nindent 16 }}
          {{- end }}
          {{- end }}
        {{- end }}
      {{ if .Values.initContainer.enabled -}}
      initContainers:
        - name: {{ .Values.initContainer.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy:  {{ .Values.image.pullPolicy }}
          {{- if .Values.initContainer.commands }}
          command:
          {{- range $command := .Values.initContainer.commands }}
            - "{{ $command }}"
          {{- end }}
          {{- end }}
          {{- if .Values.initContainer.args }}
          args:
          {{- range $arg := .Values.initContainer.args }}
            - "{{ $arg }}"
          {{- end }}
          {{- end }}
          env:
          {{- range $key, $value := .Values.env }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
          {{- end }}
          {{- range $key, $value := .Values.secretEnv }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
          {{- range $k, $v := $value }}
                  {{ $k }}: {{ $v }}
          {{- end}}
          {{- end }}
          resources:
            {{- toYaml .Values.initContainer.resources | nindent 12 }}
          {{- with .Values.initContainer.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
